{% extends "base.html.twig" %}

{% block page_title %}Profil de {{ loginUser }}{% endblock %}

{% block page_content %}
    <p>
        {# TODO: changer les valeurs dans les bons endroits #}
    <form>
    {# TODO: voire car variable pas la #}
        <h3>Détail du compte {{ utilisateur.getLogin() }}</h3>
        <p>
            <label for="">Nom</label>
            <input type="text" disabled value="TODO">
            <label for="">Prénom</label>
            <input type="text" disabled value="TODO">
        </p>
        {# TODO: if vérification que le login est celui de l'utilisateur connecté #}
    {% if utilisateur.getLogin() == loginUser %}
        <div class="btn btn_maj"><a href="{{ route("afficherFormulaireMiseAJour") }}">Mettre
        à jour le compte</a></div>
        <div class="btn btn_suppr"><a href="{{ route("supprimer", {login1 : utilisateur.getLogin() })}}">Supprimer le compte</a></div>
        {% endif %}
    </form>
    </p>
{% endblock %}